---
import Hamburger from "@components/button/hamburger.astro";

interface Props {
  title: string;
}
---

<header
  class="sticky h-12 top-0 bg-white flex flex-row justify-between items-center border-b border-gray-700 z-10 font-mono"
>
  <a class="flex flex-row items-center" href="/">
    <h1 class="text-xl text-black pl-4">{Astro.props.title}</h1>
  </a>
  <div class="flex flex-row items-center h-full">
    <Hamburger sizeRem={1.5} id="toggle-nav" />
  </div>
</header>
