---
import Hamburger from "@components/button/hamburger";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
}
---

<header class="header">
  <nav class="pl-4 text-xl text-black">
    <a href="/">
      {Astro.props.title}
    </a>
  </nav>
  <div class="flex h-full flex-row items-center gap-2">
    <button aria-label="検索ウィンドウを開く" aria-haspopup="dialog">
      <Icon
        name="material-symbols:search"
        class="text-2xl"
        id="enable-search-on-mobile"
      />
    </button>
    <Hamburger id="toggle-nav" />
  </div>
</header>

<style>
  @tailwind components;

  @layer components {
    .header {
      @apply flex flex-row items-center justify-between;
      @apply sticky top-0 z-10 h-12;
      @apply border-b border-gray-700 bg-white font-mono;
    }
  }
</style>

<script>
  import { EventBus } from "@components/event-bus/event-bus";

  const searchButton = document.getElementById("enable-search-on-mobile");
  const bus = new EventBus("main-bus");
  if (searchButton) {
    searchButton.addEventListener("click", () => {
      bus.emit({ type: "search-on" });
    });
  }
</script>
