---
import { Icon } from "astro-icon/components";
const menuItems = [
  {
    name: "Blog",
    icon: "material-symbols:post",
    href: "/blog",
  },
  {
    name: "GitHub",
    icon: "mdi:github",
    href: "https://github.com/namachan10777",
  },
  {
    name: "Twitter",
    icon: "mdi:twitter",
    href: "https://twitter.com/namachan10777",
  },
];
---

<nav id="site-nav" class="nav">
  <h2 class="text-xl text-gray-500 my-4">Links</h2>
  <ul>
    {
      menuItems.map((item) => (
        <li>
          <a href={item.href} class="menu-item">
            <Icon name={item.icon} />
            <span>{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @tailwind components;

  @layer components {
    .nav {
      @apply fixed top-12 right-0  w-80 h-[calc(100vh_-_3rem)] translate-x-full z-50;
      @apply p-4;
      @apply font-mono max-w-full bg-white border-l border-gray-900 transition-transform;
    }

    .menu-item {
      @apply flex flex-row items-center gap-2 py-4;
      @apply text-black text-xl border-t border-gray-900 underline decoration-1;
    }
  }

  /* eslint astro/no-unused-css-selector: 0 */
  #site-nav[data-show="true"] {
    @apply translate-x-0;
  }
</style>
