---
import { Icon } from "astro-icon/components";
const menuItems = [
  {
    name: "Blog",
    icon: "material-symbols:post",
    href: "/blog",
  },
  {
    name: "GitHub",
    icon: "mdi:github",
    href: "https://github.com/namachan10777",
  },
  {
    name: "Twitter",
    icon: "mdi:twitter",
    href: "https://twitter.com/namachan10777",
  },
];
---

<nav id="site-nav" class="nav">
  <h2 class="my-4 text-xl text-gray-500">Links</h2>
  <ul>
    {
      menuItems.map((item) => (
        <li>
          <a href={item.href} class="menu-item">
            <Icon name={item.icon} />
            <span>{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @tailwind components;

  @layer components {
    .nav {
      @apply h-[calc(100vh_-_3rem)] w-80;
      @apply p-4;
      @apply max-w-full border-l border-gray-900 bg-white font-mono;
    }

    .menu-item {
      @apply flex flex-row items-center gap-2 py-4;
      @apply border-t border-gray-900 text-xl text-black underline decoration-1;
    }
  }
</style>
