body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FBFBFB;
	margin: 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 5vh;
	color: #FFA000;
}

h2 {
	font-family: 'Roboto Slab', serif;
}

section {
	color: #101010;
	text-align: center;
	font-family: 'Roboto Slab', 'Sawarabi Mincho', serif;
}

header {
	width: 100%;
	text-align: center;
	color: #EEEEEE;
	background-color: #303030;
}
