@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic|Lexend+Deca|Sawarabi+Mincho|Cousine&display=swap');

@page {
	margin: 0;	
	width: 100vw;
	height: 141.421356vw;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		margin: 0;
	}
}

html {
	height: 100%;
	min-height: 125vw;
}

body {
	font-family: "Sawarabi Gothic", serif;
	height:100%; 
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.left {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #434343;
	box-shadow: 0vw 0 0.5vw 0.2vw #555;
}

.right {
	width: 70%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	padding: 2vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	margin-top: 2vw;
	border-radius: 50%;
	border: .5vw solid #7D532C;
	width: 20vw;
	height: 20vw;
	margin-left: calc((100% - 20vw - 1vw) / 2);
}

.namebox {
	margin-top: 6vw;
	margin-left: 20vw;
	display: flex;
	flex-direction: row;
}

.namebox p {
	margin-right: 3vw;
	display: flex;
	flex-direction: column;
}

.name-en {
	font-family: "Lexend Deca";
	font-weight: 400;
	font-size: 3vw;
	text-align: right;
}

.name-ja {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 7vw;
}

.timeline {
	border-left: 2px solid #006284;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	background: fade(black, 3%);
	color: fade(black, 80%);
	letter-spacing: 0.5px;
	position: relative;
	margin-left: 10vw;
	padding: 4vw;
	list-style: none;
	text-align: left;
}

.timeline li {
	border-bottom: 1px dashed fade(black, 10%);
	padding-bottom: 25px;
	margin-bottom: 2vw;
	position: relative;
	font-size: 1.5vw;
}

.timeline li:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.timeline li:before {
	position: absolute;
	display: block;
	top: 0;
	left: calc(((4vw * 0.6) + 4vw + 2px + 0.5vw + (0.5vw * 2)) * -1.5);
	color: fade(black, 40px);
	content: attr(data-date);
	font-family: "Cousine";
	text-align: right;
}

.timeline li::after {
	background: #fff;
	position: absolute;
	display: block;
	top: 0;
	box-shadow: 0 0 0 4px #006284;
	left: calc((4vw + 2px + (.7vw * 0.4)) * -1);
	border-radius: 50%;
	height: .7vw;
	width: .7vw;
	content: "";
	top: 5px;
}

.future {
	color: #566C73;
}

.right-content {
	margin-left: 7vw;
	margin-right: 7vw;
}

.right-content h2 {
	font-family: sans-serif;
	font-size: 2vw;
	border-bottom: 2px solid black;
}

.right-content p {
	font-family: sans-serif;
	font-size: 1.4vw;
}

.left-content {
	color: #ddd;
	width: 80%;
	margin-left: 10%;
	margin-top: 1vw;
	font-size: 1.5vw;
}

.left-content h2 {
	font-family: sans-serif;
	font-size: 2vw;
	color: #eee;
	border-bottom: 2px solid #eee;
}

.left-content div h3 {
	font-family: sans-serif;
	font-size: 1.6vw;
}

.secret-input {
	font-family: sans-serif;
	font-size: 1.6vw;
	color: #ddd;
	background: none;
	outline: 0;
	border: 0;
	width: 100%;
}

.small-icon {
	width: 2.5vw;
	height: 2.5vw;
	margin-bottom: 0;
	vertical-align: bottom;
	border-radius: 10%;
	margin-right: 0.5vw;
}
