.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: calc(100% - 2 * var(--content-gutter));
  max-width: var(--content-max-width);
  height: 100%;
  margin-inline: var(--content-gutter);
}
