.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  max-width: 52rem;
  margin-inline: 1rem;
  width: calc(100% - 2rem);
  height: 100%;
}
