---
interface Props {
  sizeRem: number;
  id?: string;
}

const { sizeRem } = Astro.props;

const styleVars = {
  barLength: `${sizeRem * 0.8}rem`,
  left: `${sizeRem * 0.1}rem`,
  barSpace: `${(sizeRem / 2) * 0.5}rem`,
};
---

<hamburger-button id={Astro.props.id} class="h-full">
  <button
    aria-label="グローバルナビゲーションを開く"
    aria-haspopup="menu"
    class="root"
  >
    <div class="bar top bg-black"></div>
    <div class="bar center bg-black"></div>
    <div class="bar bottom bg-black"></div>
  </button>
</hamburger-button>

<script>
  type Listener = (ev: { target: HamburgetButton; opened: boolean }) => void;

  class HamburgetButton extends HTMLElement {
    listeners: Listener[];
    button: HTMLElement;
    iconRoot: Element;

    constructor() {
      super();

      this.listeners = [];

      const button = this.querySelector("button");
      const iconRoot = this.querySelector(".root");
      if (button && iconRoot) {
        this.button = button;
        this.iconRoot = iconRoot;
      } else {
        throw new Error("invalid DOM");
      }

      this.button.addEventListener("click", () => {
        if (iconRoot.classList.contains("open")) {
          this.setToggled(true);
        } else {
          this.setToggled(false);
        }
      });
    }

    setToggled(toggled: boolean) {
      if (toggled) {
        this.iconRoot.classList.remove("open");
        this.button.ariaLabel = "グローバルナビゲーションを開く";
        for (const listener of this.listeners) {
          listener({ target: this, opened: false });
        }
      } else {
        this.iconRoot.classList.add("open");
        this.button.ariaLabel = "グローバルナビゲーションを閉じる";
        for (const listener of this.listeners) {
          listener({ target: this, opened: true });
        }
      }
    }

    addToggleEventListener(listener: Listener) {
      this.listeners.push(listener);
    }
    removeToggleEventListener(listener: Listener) {
      this.listeners = [
        ...this.listeners.filter((needle) => needle !== listener),
      ];
    }
  }

  customElements.define("hamburger-button", HamburgetButton);
</script>

<style define:vars={styleVars}>
  .root {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2rem;
  }

  .bar {
    position: absolute;
    height: 1px;
    border-radius: 0.5px;
    width: var(--barLength);
    left: var(--left);
    top: calc(50% - 0.5px);
    transition:
      width 0.1s linear,
      transform 0.1s linear;
  }

  .open > .center {
    width: 0;
  }

  .top {
    transform: translateY(calc(0rem - var(--barSpace)));
  }

  .open > .top {
    transform: rotate(45deg);
  }

  .bottom {
    transform: translateY(calc(0rem + var(--barSpace)));
  }

  .open > .bottom {
    transform: rotate(-45deg);
  }
</style>
