---
import { Icon } from "astro-icon/components";
---

<search-on>
  <button
    class="w-full rounded-md bg-gray-800 px-2 transition-colors hover:bg-gray-600"
  >
    <div class="flex w-full flex-row items-center gap-2 py-2">
      <Icon name="material-symbols:search" />
      <span>search...</span>
    </div>
  </button>
</search-on>

<script>
  import { EventBus } from "@components/event-bus/event-bus-client";

  class SearchOn extends HTMLElement {
    constructor() {
      super();
      const button = this.querySelector("button");
      const bus = new EventBus("main-bus");
      if (button) {
        button.addEventListener("click", () => {
          bus.emit({ type: "search-on" });
        });
      }
    }
  }

  customElements.define("search-on", SearchOn);
</script>
