<toggle-switch data-toggled="false">
  <button><div class="ball"></div></button>
</toggle-switch>

<script>
  export type Listener = (toggled: boolean) => void;

  export class ToggleSwitch extends HTMLElement {
    listeners: Listener[];
    constructor() {
      super();
      this.listeners = [];

      const button = this.querySelector("button");
      if (button) {
        button.addEventListener("click", () => {
          if (this.dataset.toggled === "true") {
            this.dataset.toggled = "false";
            for (const listener of this.listeners) {
              listener(true);
            }
          } else {
            this.dataset.toggled = "true";
            for (const listener of this.listeners) {
              listener(false);
            }
          }
        });
      }
    }

    addToggleEventListener(listener: Listener) {
      this.listeners.push(listener);
    }

    removeToggleEventListener(listener: Listener) {
      this.listeners = [
        ...this.listeners.filter((needle) => needle !== listener),
      ];
    }

    setState(toggled: boolean) {
      this.dataset.toggled = toggled.toString();
    }
  }

  customElements.define("toggle-switch", ToggleSwitch);
</script>

<style>
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 2.5rem;
    height: 1.2rem;
    border-radius: 0.6rem;
    border: 1.5px solid var(--color-text-normal);
  }

  .ball {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1.5px solid var(--color-text-normal);
    transition: transform 0.05s linear;
  }

  [data-toggled="true"] button .ball {
    transform: translateX(calc(2.5rem - 1rem - 0.2rem));
  }

  [data-toggled="false"] button .ball {
    transform: translateX(0);
  }
</style>
