---
import Breadcrumbs from "@components/display/breadcrumbs.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blog");
const categories = [
  ...new Set(
    blogs
      .filter((blog) => blog.data.publish)
      .flatMap((blog) => blog.data.category)
  ).values(),
];
---

<Base title="ブログカテゴリ一覧" description="ブログ記事の一覧">
  <ResponsiveWidth>
    <Breadcrumbs path={["category"]} />
    <ul class="mt-4">
      {
        categories.map((category) => (
          <li>
            <a
              class="font-mono text-xl underline decoration-2"
              href={`/category/${category}`}
            >
              #{category}
            </a>
          </li>
        ))
      }
    </ul>
  </ResponsiveWidth>
</Base>
