---
import Breadcrumbs from "@components/display/breadcrumbs.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blog");
const categories = [
  ...new Set(
    blogs
      .filter((blog) => blog.data.publish)
      .flatMap((blog) => blog.data.category),
  ).values(),
];
---

<Base title="categories" description="ブログ記事の一覧">
  <ResponsiveWidth>
    <Breadcrumbs path={["category"]} />
    <ul>
      {
        categories.map((category) => (
          <li>
            <a href={`/category/${category}`}>#{category}</a>
          </li>
        ))
      }
    </ul>
  </ResponsiveWidth>
</Base>

<style>
  ul {
    margin-top: 1rem;
  }

  a {
    font-family: var(--mono-family);
    font-size: var(--font-size-xl);
    text-decoration: underline;
    text-underline-offset: 3px;
  }
</style>
