---
import Base from "@layouts/base.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blog");
---

<Base title="Blog" description="ブログ記事の一覧">
  <ul>
    {
      blogs.map((blog) => (
        <li>
          <a href={`/blog/${blog.slug}`}>{blog.slug}</a>
        </li>
      ))
    }
  </ul>
</Base>
