---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import Base from '../../../layouts/base.astro';
import PaginationNavigation from '../../../components/PaginationNavigation.astro';
import PostList from '../../../components/PostList.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('post', post => post.data.publish);
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
  return paginate(posts, { pageSize: 16 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const start = page.total - page.start;
---

<Base title={`Post (${page.currentPage})`}>
  <h1>Post {page.currentPage}</h1>
  <PostList posts={page.data.map(post => ({ ...post.data, id: post.id }))} />
  <PaginationNavigation prev={page.url.prev} next={page.url.next} />
</Base>
