/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}
