@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Noto+Sans+JP&display=swap');

pre {
	padding: 0.3%;
	border-radius: 1%;
	overflow-x: scroll;
}

code {
	font-family: 'Fira Mono', monospace;
}

.icon {
	border-radius: 2%;
}

.inline-code {
	background-color: #EFEFEF;
}

.article-footer {
	width: 100%;
}

.next-article {
	float: right;
}

.prev-article {
	float: left;
}

div.hash {
	color: #222222;
}

p{
	color: #202020;
	line-height: 170%;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: large;
	display: flex;
	justify-content: center;
}

figure {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

div.images {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 2vh;
}

img.landscape {
	width: 70%;
}

@media(orientation: landscape) {
	#root {
		width: 55%;
	}

	img.icon {
		width: 40%;
	}
}

@media(orientation: portrait) {
	#root {
		width: 90%;
	}

	img.icon {
		width: 60%;
	}
}
