@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Noto+Sans+JP&display=swap');

pre {
	padding: 0.3%;
	border-radius: 1%;
	overflow-x: scroll;
	font-size: large;
}

code {
	font-family: 'Fira Mono', monospace;
}

.icon {
	border-radius: 2%;
}

.inline-code {
	background-color: #EFEFEF;
}

.article-footer {
	width: 100%;
}

.next-article {
	float: right;
}

.prev-article {
	float: left;
}

p{
	font-family: 'Noto Sans JP', sans-serif;
	color: #202020;
	font-size: large;
	line-height: 170%;
}

body {
	display: flex;
	justify-content: center;
}

@media(orientation: landscape) {
	#root {
		width: 55%;
	}
}

@media(orientation: portrait) {
	#root {
		width: 90%;
	}
}
