<div class="outer">
  <div class="inner">
    <slot />
  </div>
</div>

<style>
  .outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 48rem;
    width: 100%;
  }
</style>
