---
import Anchor from "@components/mdx/anchor.astro";
import { Icon } from "astro-icon/components";

export interface Props {
  links: {
    href: string;
    icon: string;
    text: string;
  }[];
}
---

<div class="links">
  {
    Astro.props.links.map((link) => (
      <Anchor href={link.href}>
        <Icon name={link.icon} class="link-icon" />
        {link.text}
      </Anchor>
    ))
  }
</div>

<style>
  @layer component {
    .links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-weight: bold;
    }

    .link-icon {
      margin-inline-end: 0.5rem;
      display: inline-block;
      font-size: var(--font-size-2xl);
    }
  }
</style>
