---
import Picture from "astro/components/Picture.astro";
import MyIcon from "@asset/icon.webp";
---

<div class="root">
  <div class="icon-wrapper">
    <Picture src={MyIcon} alt="icon" class="icon" />
  </div>
  <h1 class="handle-name">namachan10777</h1>
  <span class="real-name">Masaki Nakano</span>
</div>

<style>
  @layer component {
    .root {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }

    .icon-wrapper {
      width: 9rem;
    }

    .icon {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    .handle-name {
      font-size: var(--font-size-3xl);
      font-weight: bold;
      color: var(--fg-strong);
    }

    .real-name {
      font-size: var(--font-size-2xl);
      font-weight: bold;
      color: var(--fg-weak);
    }
  }
</style>
