---
import type { CollectionEntry } from "astro:content";
import PostPreview from "@components/composite/post-preview.astro";

export interface Props {
  posts: CollectionEntry<"post">[];
}

const posts = Astro.props.posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<ol>
  {
    posts.map((post) => (
      <li>
        <PostPreview post={post} />
      </li>
    ))
  }
</ol>

<style>
  @layer component {
    ol {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
</style>
