---
import { Icon } from "astro-icon/components";

export type Skill = {
  name: string;
  icon: string;
  color: "black" | "blue" | "red" | "green" | "orange";
};

interface Props {
  skills: Skill[];
}
---

<div class="container">
  {
    Astro.props.skills.map((skill) => (
      <div class="skill">
        <Icon name={skill.icon} class:list={["icon"]} />
        <span>{skill.name}</span>
      </div>
    ))
  }
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
    font-family: ui-monospace;
    gap: 1.5rem;
  }

  .icon {
    font-size: var(--font-size-lg);
    margin-right: 0.5rem;
  }

  .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .color-black {
    color: var(--color-text-strong);
  }

  .color-blue {
    color: #907df8;
  }

  .color-red {
    color: #f15f5f;
  }

  .color-green {
    color: #70f270;
  }

  .color-orange {
    color: #fbb150;
  }
</style>
