---
import Anchor from "@components/mdx/anchor.astro";

export interface Props {
  tags: string[];
}
---

<nav>
  <ul class="list">
    {
      Astro.props.tags.map((tag) => (
        <li>
          <a class="anchor" href={`/post/tag/${tag}`}>
            #{tag}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @layer component {
    .anchor {
      text-decoration: underline;
      transition: color 0.1s;
    }

    .anchor:hover {
      color: var(--fg-link);
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .list li {
      font-family: var(--font-mono);
      font-weight: bold;
    }
  }
</style>
