---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  booktitle: string;
  href?: string;
}

const { title, booktitle, href } = Astro.props;
---

<li class="flex flex-row">
  <div class="mr-2 flex h-6 w-5 flex-row items-center justify-center text-xl">
    <Icon name="material-symbols:link-rounded" />
  </div>
  <div>
    {
      href ? (
        <a class="text-lg font-semibold text-black underline" href={href}>
          {title}
        </a>
      ) : (
        <span class="text-lg font-semibold text-black">{title}</span>
      )
    }
    <div class="mt-2 text-gray-500">{booktitle}</div>
  </div>
</li>
