---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  booktitle: string;
  href?: string;
}

const { title, booktitle, href } = Astro.props;
---

<li class="flex flex-row">
  <div class="w-5 flex flex-row justify-center items-center h-6 text-xl mr-2">
    <Icon name="material-symbols:link-rounded" />
  </div>
  <div>
    {
      href ? (
        <a class="underline text-black text-lg font-semibold" href={href}>
          {title}
        </a>
      ) : (
        <span class="text-black text-lg font-semibold">{title}</span>
      )
    }
    <div class="mt-2 text-gray-500">{booktitle}</div>
  </div>
</li>
