---
import { getCollection } from 'astro:content';
import '../styles/reset.css';
import '../styles/global.css';
import Heading2 from '../components/heading/Heading2.astro';
import Base from '../layouts/Base.astro';
import PostPreview from '../components/post-preview.astro';

// Get all blog posts
const posts = await getCollection('post', post => post.data.publish);

// Sort posts by date (newest first)
const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Base title="namachan10777.dev" description="namachan10777's personal website">
  <main>
    <section class="blog-posts">
      <Heading2 class="blog-posts-heading">Blog Posts</Heading2>
      <ul>
        {
          sortedPosts.map(post => (
            <li>
              <PostPreview post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>

<style>
  .blog-posts {
    margin-block-start: var(--space-xl);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-block-end: var(--space-xl);
  }


  .blog-posts-heading {
    padding-block-end: var(--space-md);
  }
</style>
