---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import Section from "@components/mdx/section.astro";
import Heading2 from "@components/mdx/heading2.astro";
import Event from "@components/composite/events.astro";
import NameAndIcon from "@components/composite/name-and-icon.astro";
import Typography from "@components/mdx/typography.astro";
import Pre from "@components/mdx/pre.astro";
import PostPreviewList from "@components/composite/post-preview-list.astro";
import PublicationList from "@components/composite/publication-list.astro";
import Anchor from "@components/mdx/anchor.astro";
import Links from "@components/composite/links.astro";
import { Icon } from "astro-icon/components";
import Code from "astro/components/Code.astro";

const events = (await getCollection("event")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
const posts = (await getCollection("post")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
const pubs = (await getCollection("pub")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);

const links = [
  {
    text: "GitHub",
    href: "https://github.com/namachan10777",
    icon: "iconoir:github",
  },
  {
    text: "X",
    href: "https://x.com/namachan10777",
    icon: "iconoir:x",
  },
  {
    text: "Post",
    href: "/post/page/1",
    icon: "iconoir:post",
  },
];

const profileCode = `\
let region = "Tsukuba, 🇯🇵";
let contact = [
  format!("{}@{}", "admin", "namachan10777.dev"),
  format!("{}@{}", "mnakano", "hpcs.cs.tsukuba.ac.jp"),
];
`;
---

<Base
  title="namachan10777"
  description="namachan10777's profile and posts"
  imagePath="index.webp"
  og={{ type: "website" }}
  path={[{ display: { name: "profile", icon: "iconoir:home" }, absolute: "/" }]}
>
  <NameAndIcon />
  <Section>
    <Heading2>Profile</Heading2>
    <Links links={links} />
    <Typography>
      A student at University of Tsukuba. Studying in distributed storage system
      in HPC.</Typography
    >
    <Pre><Code lang="rust" code={profileCode} /></Pre>
  </Section>
  <Section>
    <Heading2>Timeline</Heading2>
    <Event events={events} />
  </Section>
  <Section>
    <Heading2>Publications</Heading2>
    <PublicationList pubs={pubs.slice(0, Math.min(3, pubs.length))} />
  </Section>
  <Section>
    <Heading2>
      <Anchor href="/post/page/1">Posts</Anchor>
    </Heading2>
    <PostPreviewList posts={posts.slice(0, Math.min(3, posts.length))} />
    <span class="readmore">
      <Anchor href="/post/page/1">
        <Icon name="iconoir:arrow-right-circle" class="readmore-icon" />
        記事をもっと読む
      </Anchor>
    </span>
  </Section>
</Base>

<style>
  .readmore-icon {
    margin-inline-end: 0.5rem;
    display: inline-block;
  }
  .readmore .readmore-icon {
    transition: transform 0.2s;
  }
  .readmore:hover .readmore-icon {
    transform: scale(1.1);
  }
</style>
