---
import icon from "@assets/icon.webp";
import Skills, { type Skill } from "@components/composite/skills.astro";
import Timeline from "@components/composite/timeline.astro";
import Paper from "@components/display/paper.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const events = [
  { date: "2015-04", title: "香川高等専門学校 機械工学科入学" },
  { date: "2016-04", title: "香川高等専門学校 電気情報工学科転科" },
  { date: "2018-08", title: "jig.jpインターン(4週間)" },
  { date: "2018-12", title: "mixi git challenge 2位" },
  { date: "2019-03", title: "mixi bug shooting challenge" },
  {
    date: "2020-03",
    title: "日本音響学会 春季研究発表会 ポスター発表（開催扱い）",
  },
  { date: "2020-03", title: "香川高等専門学校 電気情報工学科卒業" },
  { date: "2020-04", title: "筑波大学 情報学群 情報科学類入学" },
  { date: "2020-08", title: "株式会社はてな サマーインターン" },
  { date: "2020-09", title: "株式会社ACCESS 2day インターン" },
  { date: "2021-03", title: "クックパッド株式会社 spring internship 最優秀賞" },
  {
    date: "2021-09",
    title: "クックパッド株式会社 就業型インターン(SRE) (現在退職)",
  },
  {
    date: "2021-12",
    title: "Taiwan Now! 蘭の舟ロボット製作（制御、電源回路、通信）",
  },
];

const skills: Skill[] = [
  {
    icon: "lucide:network",
    name: "ネットワークスペシャリスト",
    color: "blue",
  },
  {
    icon: "material-symbols:language",
    name: "TOEIC L&R 765",
    color: "green",
  },
  {
    icon: "mdi:aws",
    name: "AWS",
    color: "black",
  },
  {
    icon: "mdi:terraform",
    name: "Terraform",
    color: "blue",
  },
  {
    icon: "simple-icons:rust",
    name: "Rust",
    color: "orange",
  },
  {
    icon: "mdi:language-c",
    name: "C",
    color: "red",
  },
  {
    icon: "simple-icons:typescript",
    name: "TypeScript",
    color: "blue",
  },
];
---

<Base
  title="/index.html"
  description="namachan10777(Masaki Nakano)の経歴、スキル、出版物についてのページ"
>
  <ResponsiveWidth>
    <section class:list={["profile"]}>
      <div class="large-icon-container">
        <div class="icon-wrapper">
          <Image src={icon} alt="icon" />
        </div>
      </div>
      <div class="brief-profile-container">
        <h2 class="name"><span class="first-letter">M</span>asaki Nakano</h2>
        <p class="brief-profile-text">
          ソフトウェア技術者、学生。
          インターンでのSRE業務の経験、メトリクス基盤構築、Webバックエンド実装、CI整備。
          専攻はHPCにおける高速分散ストレージ技術。
          そのた基板設計（低周波）、組み込みの業務経験。
          AWSでのサービス開発・運用体制構築が主な領域です。
        </p>
      </div>
    </section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <section class="main-section">
      <h2 class="section-heading">
        <span class="first-letter">I</span>nterests
      </h2>
      <div class="content-wrapper">
        <ul class="interests">
          <li>
            <Icon name="mdi:storage" class="li-marker" />Distributed Storage
          </li>
          <li>
            <Icon name="mdi:barometer" class="li-marker" />Metrics and Logs
          </li>
          <li>
            <Icon name="mdi:truck-outline" class="li-marker" />Data
            Transportation
          </li>
          <li>
            <Icon name="lucide:pen-line" class="li-marker" />Developper
            Experience
          </li>
        </ul>
      </div>
    </section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <section class="main-section">
      <h2 class="section-heading"><span class="first-letter">S</span>kills</h2>
      <div class="content-wrapper">
        <Skills skills={skills} />
      </div>
    </section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <section class="main-section">
      <h2 class="section-heading">
        <span class="first-letter">T</span>imeline
      </h2>
      <div class="content-wrapper">
        <Timeline events={events} />
      </div>
    </section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <section class="main-section">
      <h2 class="section-heading"><span class="first-letter">P</span>apers</h2>
      <div class="content-wrapper">
        <ul class="papers">
          <Paper
            title="RustのUCXラッパーasync-ucxの性能評価"
            booktitle="第192回HPC研究会"
          />
          <Paper
            title="ユーザーからの補助情報を用いるインタラクティブ音源分離システム"
            booktitle="日本音響学会 2020年"
            href="https://kitalab.net/pdf/2020_ASJspr_nakano.pdf"
          />
          <Paper
            title="ユーザーからの補助情報を用いる独立低ランク行列分析"
            booktitle="日本音響学会"
            href="https://kitalab.net/pdf/2020_ASJaut_oshima.pdf"
          />
        </ul>
      </div>
    </section>
  </ResponsiveWidth>
  <style>
    .first-letter {
      color: var(--color-primary);
      font-size: var(--font-size-3xl);
    }

    .bg-gray {
      background-color: var(--bg-gray);
      width: 100%;
    }

    .my-2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .icons {
      display: grid;
      grid-template-columns: 1.5rem 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      gap: 1rem;
    }

    .profile {
      display: grid;
      gap: 3rem;
      grid-template-columns: 20% 1fr;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @media screen and (width <= 768px) {
      .profile {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
      }
    }

    .qual-card-wrapper {
      padding: 0.5rem;
    }

    .qual-cards-container {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    .badge-wrapper {
      padding: 0.5rem;
    }

    .badge-container {
      display: flex;
      flex-wrap: wrap;
    }

    .content-wrapper {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .section-heading {
      font-weight: lighter;
      font-family: var(--mono-family);
      font-size: var(--font-size-2xl);
      color: var(--color-text-strong);
      margin-bottom: 1rem;
    }

    .brief-profile-container {
      padding: 1rem;
    }

    @media screen and (width <= 768px) {
      .brief-profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .brief-profile-text {
      padding-top: 1rem;
      line-height: 1.6;
      color: var(--color-text-normal);
    }

    .name {
      font-size: var(--font-size-2xl);
      color: var(--color-text-strong);
      font-family: var(--mono-family);
    }

    .main-section {
      padding-top: 2rem;
      padding-bottom: 3rem;
      border-top: 1px dashed var(--color-text-normal);
    }

    .large-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-wrapper {
      border-radius: 50%;
      overflow: hidden;
    }

    @media screen and (width <= 768px) {
      .icon-wrapper {
        width: 40%;
      }
    }

    .icon-wrapper > img {
      width: 100%;
      height: auto;
    }

    .papers {
      display: grid;
      gap: 2rem;
    }

    .interests {
      display: grid;
      gap: 2rem;
    }

    .interests > li {
      color: var(--color-text-strong);
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .li-marker {
      margin-right: 0.5rem;
      font-size: var(--font-size-lg);
    }
  </style>
</Base>
