---
import Base from "@layouts/Base.astro";
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const collection = await getCollection("post");
  const posts = collection.map((post) => {
    const [_, year, name] = /^(\d{4})\/(.+)$/.exec(post.slug)!;
    return {
      params: { slug: post.slug },
      props: { year, name },
    };
  });
  return posts;
}) satisfies GetStaticPaths;

const entry = await getEntry("post", Astro.params.slug);
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <ul>
    {entry.data.tags.map((tag) => <li>{tag}</li>)}
  </ul>
  <Content />
</Base>
