---
import PostIndex from "@components/common-page/post-index.astro";
import Base from "@layouts/Base.astro";
---

<Base
  title="posts"
  description="namachan10777's posts"
  imagePath="post.webp"
  og={{ type: "website" }}
  path={[
    { display: { name: "profile", icon: "iconoir:home" }, absolute: "/" },
    { display: "post", absolute: "/post" },
  ]}
>
  <h1
    class="py-4 text-4xl font-bold before:text-3xl before:text-gray-600 before:content-['#']"
  >
    Post
  </h1>
  <PostIndex index={0} />
</Base>
