---
import PostIndex from "@components/common-page/post-index.astro";
import Base from "@layouts/Base.astro";
---

<Base
  title="posts"
  description="namachan10777's posts"
  imageUrl="https://www.namachan10777.dev/post.webp"
  og={{ type: "website" }}
>
  <h1
    class="text-4xl font-bold before:content-['#'] before:text-3xl before:text-gray-600 py-4"
  >
    Post
  </h1>
  <PostIndex index={0} />
</Base>
