---
import PostIndex from "@components/common-page/post-index.astro";
import Base from "@layouts/Base.astro";
---

<Base title="posts">
  <h1
    class="text-4xl font-bold before:content-['#'] before:text-3xl before:text-gray-600 py-4"
  >
    Post
  </h1>
  <PostIndex index={0} />
</Base>
