---
import Base from "../../layouts/base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("post", (post) => post.data.publish);
---

<Base>
    <ol>
        {
            posts.map((post) => (
                <li>
                    <a href={`/post/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ol>
</Base>
