.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 0.5rem;
  position: relative;
}

.borderLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
}

.content {
  max-width: 52rem;
  margin-inline: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: var(--font-mono);
}
