.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--color-text);
  padding-block: 0.5rem;
}

.content {
  max-width: 52rem;
  margin-inline: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: var(--font-mono);
}
