.root {
  font-family: var(--font-mono);
  display: grid;
  grid-template-columns: auto 1fr;
  border: solid 1px var(--uchu-yin-9);
  --shiki-token-string: var(--uchu-orange-7);
  --shiki-token-keyword: var(--uchu-red-7);
  --shiki-token-function: var(--uchu-blue-7);
  --shiki-token-constant: var(--uchu-purple-7);
  --shiki-foreground: var(--uchu-green-7);
  --shiki-token-comment: var(--uchu-gray-9);
  --code-body-spacing: 0.7rem;
}

.root pre {
  margin-block: 0;
  padding-left: 0.5rem;
  border: none;
}

.lines {
  user-select: none;
  display: grid;
  grid-template-columns: auto;
  margin-block: 0;
  padding-inline: 0.5rem;
  text-align: right;
  padding-block: var(--code-body-spacing);
  font-size: smaller;
  color: var(--uchu-gray-9);
}

.lines li {
  display: inline-block;
}

.header {
  border-bottom: 1px solid var(--uchu-yin-9);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column: 2;
}

.headerTitle {
  grid-column: 1;
  padding-inline: 0.5rem;
}

.copyButton {
  border: none;
  background-color: transparent;
}

.codeBody {
  display: grid;
  grid-template-columns: subgrid;
  border-left: 1px solid var(--uchu-yin-9);
  padding-block: var(--code-body-spacing);
  font-size: smaller;
}

.scrollBox {
  overflow-x: scroll;
  max-width: 100%;
}

.root pre > code :global .function {
  color: var(--uchu-blue-7);
}

.root pre > code :global .keyword {
  color: var(--uchu-red-7);
}

.root pre > code :global .storage {
  color: var(--uchu-purple-7);
}

.root pre > code :global .string {
  color: var(--uchu-orange-7);
}
