<div class="outer">
  <div class="inner">
    <slot />
  </div>
</div>

<style>
  .outer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner {
    width: 800px;
    max-width: calc(100% - 4rem);
  }
</style>
