<div class="outer">
  <div class="inner">
    <slot />
  </div>
</div>

<style>
  .outer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner {
    width: var(--content-width);
    max-width: calc(100% - calc(var(--content-padding) * 2));
  }
</style>
