---
import Anchor from "@components/mdx/anchor.astro";
---

<header
  class="border-b flex flex-row justify-between bg-white h-full items-center"
>
  <span class="font-mono text-xl font-semibold">
    <Anchor href="/">namachan10777</Anchor>
  </span>
  <div class="mx-4 flex flex-row items-center"></div>
</header>
