<p><slot /></p>

<style>
  p {
    margin-block: 0 var(--space-md);
    margin-inline: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: var(--line-height-relaxed);
  }
</style>
