---
import type { CollectionEntry } from "astro:content";
import Typography from "./typography.astro";
import Anchor from "@components/mdx/anchor.astro";

export interface Props {
  post: CollectionEntry<"post">;
}
const { post } = Astro.props;
---

<article>
  <span class="mb-2 font-mono text-gray-600"
    >{post.data.date.toISOString().slice(0, 10)}</span
  >
  <h3 class="text-lg font-bold">
    <Anchor href={`/post/${post.slug}`}>{post.data.title}</Anchor>
  </h3>
  <div class="mt-1 flex flex-wrap font-mono text-sm font-semibold">
    {
      post.data.tags.map((tag) => (
        <Anchor href={`/post/tag/${tag}`}>#{tag}</Anchor>
      ))
    }
  </div>
  <div class="mt-2">
    <Typography>
      {post.body.slice(0, Math.min(120, post.body.length))}...
    </Typography>
  </div>
</article>
