---
import type { CollectionEntry } from "astro:content";
import Anchor from "./mdx/anchor.astro";

export interface Props {
  pub: CollectionEntry<"pub">;
}

const { data } = Astro.props.pub;
---

<div>
  <span class="font-mono text-gray-600">{data.date.getFullYear()}</span>
  <h3 class="font-semibold">
    {data.href ? <Anchor href={data.href}>{data.title}</Anchor> : data.title}
  </h3>
  <span class="text-sm text-gray-800">{data.booktitle}</span>
</div>
