---
import type { CollectionEntry } from "astro:content";
import Anchor from "./mdx/anchor.astro";

export interface Props {
  pub: CollectionEntry<"pub">;
}

const { data } = Astro.props.pub;
---

<div>
  <span class="text-gray-600 font-mono">{data.date.getFullYear()}</span>
  <h3 class="font-semibold">
    {data.href ? <Anchor href={data.href}>{data.title}</Anchor> : data.title}
  </h3>
  <span class="text-gray-800 text-sm">{data.booktitle}</span>
</div>
