---
import type { CollectionEntry } from "astro:content";

export interface Props {
  pub: CollectionEntry<"pub">;
}

const { data } = Astro.props.pub;
---

<div>
  <span class="text-gray-600 font-mono">{data.date.getFullYear()}</span>
  <h3 class="font-semibold">
    {
      data.href ? (
        <a class="underline text-blue-600" href={data.href}>
          {data.title}
        </a>
      ) : (
        data.title
      )
    }
  </h3>
  <span class="text-gray-800 text-sm">{data.booktitle}</span>
</div>
