---
import Anchor from './Anchor.astro';

interface Props {
  title: string;
  booktitle: string;
  date: Date;
  url?: string;
}

const { title, booktitle, date, url } = Astro.props;
---

<section class="root">
  <h3>
    {url ? <Anchor href={url}>{title}</Anchor> : title}
  </h3>
  <div class="meta">
    <time datetime={date.toISOString()} class="date">
      {
        new Intl.DateTimeFormat('ja-JP', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        }).format(date)
      }
    </time>
    <span>{booktitle}</span>
  </div>
</section>

<style>
  .root {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / span 2;
    row-gap: var(--space-2xs);
    column-gap: var(--space-sm);
  }

  h3 {
    font-size: var(--font-size-lg);
    display: flex;
    grid-column: 1 / span 2;
    font-weight: bolder;
  }

  .meta {
    display: contents;
    flex-direction: row;
  }

  .date {
    grid-column-start: 1;
    color: var(--gray);
  }
</style>
