---
import Anchor from "./mdx/anchor.astro";

export type Props = {
  title: string;
  href?: string;
};
const { href, title } = Astro.props;
---

<section class="py-3 flex flex-col gap-2">
  <h2
    class="text-3xl font-bold mb-4 before:content-['#'] before:text-gray-500 before:text-2xl"
  >
    {href ? <Anchor href={href}>{title}</Anchor> : title}
  </h2>
  <slot />
</section>
