---
import Anchor from "./mdx/anchor.astro";

export interface Props {
  title: string;
  href?: string;
}
const { href, title } = Astro.props;
---

<section class="flex flex-col gap-2 py-6">
  <h2
    class="mb-4 text-2xl font-bold before:text-2xl before:text-gray-500 before:content-['#']"
  >
    {href ? <Anchor href={href}>{title}</Anchor> : title}
  </h2>
  <slot />
</section>
