---
interface Props {
  tag: string;
}
const { tag } = Astro.props;
---

<a class="tag" href={`/post/tag/${tag}`}>{tag}</a>

<style>
  .tag {
    padding-block: var(--space-2xs);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-md);
    color: var(--link-color);
  }

  .tag::before {
    content: '#';
    margin-inline-end: var(--space-3xs);
  }
</style>
