---
interface Props {
  tags: string[];
}

const props = Astro.props;
---

<nav>
  <ul class="tags">
    {
      props.tags.map(tag => (
        <li>
          <a href={`/post/tag/${tag}/1`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0;
  }

  .tags li {
    display: inline-flex;
    font-family: var(--font-mono);
  }

  .tags li::before {
    content: '#';
    color: var(--uchu-blue-6);
  }
</style>
