.footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--color-text);
  padding-block-start: 0.5rem;
  padding-block-end: 2rem;
}

.content {
  max-width: 52rem;
  margin-inline: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkIcon {
  font-size: x-large;
  display: flex;
  padding: 0.2rem;
  border-radius: 999px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
