---
export interface Props {
  href: string;
  label?: string;
}

const { href, label } = Astro.props;
---

{
  href.startsWith("http") ? (
    <a href={href} aria-label={label}>
      <slot />
    </a>
  ) : (
    <a href={href} aria-label={label} data-astro-prefetch>
      <slot />
    </a>
  )
}

<style>
  @layer component {
    a {
      color: var(--fg-link);
      text-decoration: underline;
      display: inline-flex;
      align-items: center;
    }
  }
</style>
