---
import { Icon } from "astro-icon/components";

interface Props {
  id?: string;
}

const { id } = Astro.props;
---

{
  id ? (
    <a href={`#${id}`} class="with-anchor">
      <slot />
      <Icon name="iconoir:link" class="icon" />
    </a>
  ) : (
    <slot />
  )
}

<style>
  .with-anchor {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .icon {
    opacity: 0;
    transition: opacity 0.2s;
    color: var(--fg-link);
  }

  .with-anchor:hover .icon {
    opacity: 1;
  }
</style>
