---
import HeadingInner from "./heading-inner.astro";
interface Props {
    id?: string;
}
---
<h3 id={Astro.props.id}>
  <HeadingInner id={Astro.props.id}><slot /></HeadingInner>
</h3>

<style>
  @layer component {
    h3 {
      margin-block: 0.5rem;
      font-size: var(--font-size-xl);
      line-height: 1.5rem;
      font-weight: bold;
      color: var(--fg-strong);
    }
    h3::before {
      content: "#";
      font-size: var(--font-size-lg);
      color: var(--fg-weak);
    }
  }
</style>
