---
import HeadingInner from "./heading-inner.astro";
interface Props {
  id?: string;
}
---

<h1 id={Astro.props.id}>
  <HeadingInner id={Astro.props.id}><slot /></HeadingInner>
</h1>

<style>
  @layer component {
    h1 {
      margin-block: 0.5rem;
      font-size: var(--font-size-3xl);
      line-height: 2.5rem;
      font-weight: bold;
      color: var(--fg-strong);
    }
    h1::before {
      content: "#";
      font-size: var(--font-size-2xl);
      color: var(--fg-weak);
    }
  }
</style>
