<h1>
  <slot />
</h1>

<style>
  @layer component {
    h1 {
      margin-block: 1rem;
      font-size: var(--font-size-3xl);
      line-height: 2.5rem;
      font-weight: bold;
      color: var(--fg-strong);
    }
    h1::before {
      content: "#";
      font-size: var(--font-size-2xl);
      color: var(--fg-weak);
    }
  }
</style>
