---
import { Picture } from "astro:assets";

export interface Props {
  alt: string;
  src: ImageMetadata;
}
---

<div class=" block size-full">
  <Picture
    alt={Astro.props.alt}
    src={Astro.props.src}
    formats={["webp"]}
    class=" h-auto w-full"
  />
</div>

