---
import { Icon } from "astro-icon/components";
---

<code-block class="root">
  <button class="copy-button">
    <span class="copy-message">copy</span>
    <Icon name="iconoir:copy" class="copy-icon" />
  </button>
  <pre><slot /></pre>
</code-block>

<script>
  class CodeBlock extends HTMLElement {
    constructor() {
      super();
      const button = this.querySelector(".copy-button")!;
      const pre = this.querySelector("pre")!;
      const message = this.querySelector(".copy-message")!;
      let timeout: undefined | number;

      button.addEventListener("click", () => {
        navigator.clipboard.writeText(pre.textContent!).then(() => {
          message.textContent = "copied!";
          if (timeout) clearTimeout(timeout);
          timeout = window.setTimeout(() => {
            message.textContent = "copy";
          }, 1000);
        });
      });
    }
  }

  customElements.define("code-block", CodeBlock);
</script>
<style>
  @layer component {
    .root {
      display: block;
      position: relative;
    }

    .copy-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      color: var(--fg-weak);
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    .copy-message {
      opacity: 0;
      padding: 0.5rem;
      border-radius: 0.2rem;
      background-color: var(--bg-codeblock);
      transition: opacity 0.1s;
      font-weight: bold;
    }

    .copy-icon {
      font-size: var(--font-size-2xl);
      transition: transform 0.1s;
    }

    .copy-button:hover > .copy-message {
      opacity: 1;
    }

    .copy-button:hover > .copy-icon {
      transform: scale(1.1);
    }

    pre {
      background-color: var(--bg-codeblock);
      overflow-x: scroll;
      font-size: var(--font-size-sm);
    }

    pre :global(code) {
      counter-reset: line;
    }

    pre :global(code) :global(span[class="line"])::before {
      counter-increment: line;
      content: counter(line);
      margin-right: 1.25rem;
      color: var(--fg-linenum);
    }
  }
  @layer patch {
    pre > :global(code) {
      background-color: inherit;
      padding: 0;
    }
  }
</style>
