---
import { parse } from "node-html-parser";

const plaintext = parse(await Astro.slots.render("default")).textContent;
---

<code-block class="root">
  <button>
    
  </button>
  <pre><slot /></pre>
  <pre class="text-store">{plaintext}</pre>
</code-block>

<script>
  class CodeBlock extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define("code-block", CodeBlock);
</script>
<style>
  .root {
    display: block;
    position: relative;

  }
  @layer component {
    .text-store {
      display: none;
    }
    pre {
      background-color: var(--bg-codeblock);
    }
  }
  @layer patch {
    pre > :global(code) {
      background-color: inherit;
      padding: 0;
    }
  }
</style>
