@layer base {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    font-size: xx-large;
  }
}

@layer component {
  .footnote {
    display: contents;
  }

  .footnote p {
    margin-block: 0;
  }

  .footnoteBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footnotes {
    display: grid;
    grid-gap: 1rem;
    row-gap: 1rem;
    padding-inline: 0;
    grid-template-columns: auto 1fr;
  }
}
