.markdown table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--uchu-yin-9);
}

.markdown {
  padding-bottom: 2rem;
}

.markdown th {
  border-bottom: 1px solid var(--uchu-yin-9);
  margin: 0;
}

.markdown th:nth-child(1),
td:nth-child(1) {
  border-right: 1px solid var(--uchu-yin-9);
}

.markdown th,
td {
  padding-inline: 0.5em;
  padding-block: 0.2em;
}

.markdown :not(pre) > code {
  background-color: var(--uchu-yin-2);
  color: var(--uchu-yin-9);
  padding-inline: 0.2em;
  margin-inline: 0.1em;
  padding-block: 0.1em;
}

.markdown hr {
  border-bottom: none;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown figure img {
  margin: 0.5rem;
  width: calc(100% - 1rem);
}

.markdown figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5em;
  border: 1px solid var(--uchu-yin-9);
  margin-inline: 0;
}

.markdown figcaption {
  border-top: 1px dashed var(--uchu-yin-9);
  display: block;
  width: 100%;
  text-align: center;
  padding-block-start: 0.5em;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: xx-large;
}
