---
interface Props {
  path: string[];
}
const { path } = Astro.props;
let fullPath = "";
const anchors = [];
for (const section of path) {
  fullPath = `${fullPath}/${section}`;
  anchors.push({
    fullPath,
    section,
  });
}
---

<div class="mt-4 py-2 font-mono">
  <nav class="inline">
    <a href="/" class="m-0 underline decoration-1">(root)</a>
    {
      anchors.map((anchor) => (
        <>
          <span>/</span>
          <a href={anchor.fullPath} class="underline decoration-1">
            {anchor.section}
          </a>
        </>
      ))
    }
  </nav>
</div>
