---
import { Icon } from "astro-icon/components";
export type Props = {
  name: string;
  url: string;
  tooltip: string;
};
const { name, url, tooltip } = Astro.props;
---

<a href={url} class="group relative flex flex-col items-start">
  <div class="flex h-6 w-6 items-center justify-center">
    <Icon name={name} class="icon" />
  </div>
  <div class="absolute top-8 w-40 text-sm">
    <div class="tooltip">
      {tooltip}
    </div>
  </div>
</a>

<style>
  @tailwind components;

  @layer components {
    .icon {
      @apply text-2xl text-gray-700 transition-transform;
      @apply group-hover:scale-110;
    }

    .tooltip {
      @apply w-fit rounded-sm bg-transparent p-1 text-transparent transition-colors;
      @apply group-hover:bg-gray-900 group-hover:text-white;
    }
  }
</style>
