---
import { Icon } from "astro-icon/components";
export type Props = {
  name: string;
  url: string;
  tooltip: string;
};
const { name, url, tooltip } = Astro.props;
---

<a href={url} class="group flex flex-col items-start relative">
  <div class="w-6 h-6 flex items-center justify-center">
    <Icon
      name={name}
      class="text-2xl text-gray-700 transition-transform group-hover:scale-110"
    />
  </div>
  <div class="text-sm absolute w-40 top-8">
    <div
      class="p-1 rounded-sm w-fit transition-colors bg-transparent text-transparent group-hover:bg-gray-900 group-hover:text-white"
    >
      {tooltip}
    </div>
  </div>
</a>
