pre.shiki > code {
  counter-reset: line-number;
}

pre.shiki > code > span.line {
  counter-increment: line-number;
}

pre.shiki > code > span.line::before {
  content: counter(line-number);
  color: #aaa;
  width: 1.5rem;
  display: inline-block;
  text-align: end;
  margin-right: 1.25rem;
}
