:root {
    --highlight-red: #ef7070;
    --highlight-red2: #8a1a1a;
    --highlight-orange: #e8a368;
    --highlight-yellow: #d8cf6c;
    --highlight-yellow2: #e2d86a;
    --highlight-green: #85c179;
    --highlight-green2: #5cc46b;
    --highlight-cyan: #64bac9;
    --highlight-blue: #6882e2;
    --highlight-purple: #b281d1;
    --highlight-gray1: #222c33;
    --highlight-gray2: #314047;
    --highlight-gray3: #506872;
    --highlight-gray4: #5f7b87;
    --highlight-gray5: #7395a3;
    --highlight-white: #a9afb2;
    --highlight-back: #050a26;
}
pre.code-block {
    color: var(--highlight-white);
    background-color: var(--highlight-gray1);
    padding: 1em;
    line-height: 1.75;
    font-family: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    font-size: smaller;
    overflow: scroll;
}
pre.code-block > code {
    font-family: inherit;
    background-color: var(--highlight-gray1);
}
span.highlight-normal {
    color: inherit;
}
span.highlight-attribute {
    color: var(--highlight-green);
}
span.highlight-constant {
    color: var(--highlight-orange);
}
span.highlight-function-builtin {
    color: var(--highlight-cyan);
}
span.highlight-function {
    color: var(--highlight-cyan);
}
span.highlight-keyword {
    color: var(--highlight-purple);
}
span.highlight-operator {
    color: var(--highlight-blue);
}
span.highlight-property {
    color: var(--highlight-yellow);
}
span.highlight-punctuation {
    color: var(--highlight-cyan);
}
span.highlight-punctuation-bracket {
    color: var(--highlight-white);
}
span.highlight-punctuation-delimiter {
    color: var(--highlight-blue);
}
span.highlight-string {
    color: var(--highlight-green);
}
span.highlight-string-special {
    color: var(--highlight-green);
}
span.highlight-tag {
    color: var(--highlight-blue);
}
span.highlight-type {
    color: var(--highlight-yellow);
}
span.highlight-type-builtin {
    color: var(--highlight-yellow);
}
span.highlight-variable {
    color: var(--highlight-cyan);
}
span.highlight-variable-builtin {
    color: var(--highlight-cyan);
}
span.highlight-variable-parameter {
    color: var(--highlight-yellow);
}
