@layer base, component;

:root {
  --color-bg: oklch(95.57% 0.003 286.35);
  --color-text: oklch(14.38% 0.007 256.88);
  --color-border: oklch(25.11% 0.006 258.36);
  --color-text-muted: oklch(43.87% 0.005 271.3);
  --color-surface-subtle: oklch(92.04% 0.002 197.12);
  --content-max-width: 52rem;
  --content-gutter: 1rem;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Consolas, "Roboto Mono", monospace;
  --font-normal:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;

  /* Accent colors */
  --uchu-gray-3: oklch(88.28% 0.003 286.34);
  --uchu-gray-5: oklch(80.73% 0.002 247.84);
  --uchu-gray-7: oklch(69.01% 0.003 286.32);
  --uchu-gray-9: oklch(56.82% 0.004 247.89);
  --uchu-red-5: oklch(58.63% 0.231 19.6);
  --uchu-red-7: oklch(49.95% 0.195 18.34);
  --uchu-purple-7: oklch(42.77% 0.181 298.49);
  --uchu-blue-6: oklch(51.15% 0.204 260.17);
  --uchu-blue-7: oklch(47.36% 0.185 259.89);
  --uchu-green-7: oklch(64.24% 0.175 144.92);
  --uchu-orange-7: oklch(63.8% 0.142 52.1);
  --uchu-yin-2: oklch(84.61% 0.004 286.31);
}

@layer base {
  html {
    height: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
  }

  p {
    word-break: break-word;
    line-height: 1.7em;
  }

  code {
    font-family: var(--font-mono);
  }

  body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
    font-family: var(--font-normal);
    font-size: clamp(0.9rem, 0.9rem + 0.1vw, 1rem);
    line-height: 1.5;
  }
}
