---
import IconWithTooltip from "@components/display/icon-with-tooltip.astro";

export type Props = {
  ghPath: string;
};
---

<section class="flex flex-row flex-wrap items-center gap-4">
  <IconWithTooltip
    name="mdi:github"
    url={`https://github.com/namachan10777/namachan10777.dev/blob/master/${Astro.props.ghPath}`}
    tooltip="View on GitHub"
  />
  <IconWithTooltip
    name="mdi:rss"
    url="https://www.namachan10777.dev/blog/rss.xml"
    tooltip="Subscribe blog"
  />
</section>
