---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export type Props = {
  src: ImageMetadata;
  name: string;
};
---

<section class="flex flex-col items-center gap-8 py-8 md:flex-row">
  <div class="flex items-center justify-center">
    <div class="overflow-hidden rounded-full">
      <Image src={Astro.props.src} alt="icon" />
    </div>
  </div>
  <div class="flex flex-col gap-4 p-4 text-center md:text-start">
    <h2 class="font-mono text-3xl font-semibold text-black">
      <slot name="name" />
    </h2>
    <slot />
  </div>
</section>
