---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export type Props = {
  src: ImageMetadata;
  name: string;
};
---

<section class="flex flex-col md:flex-row items-center gap-8 py-8">
  <div class="flex items-center justify-center">
    <div class="rounded-full overflow-hidden">
      <Image src={Astro.props.src} alt="icon" />
    </div>
  </div>
  <div class="p-4 flex flex-col gap-4 text-center md:text-start">
    <h2 class="text-3xl font-mono text-black font-semibold">
      <slot name="name" />
    </h2>
    <slot />
  </div>
</section>
