---
export type Props = {
  title: string;
  href?: string;
};
---

<section class="pt-8 pb-12 border-t border-gray-800">
  <h2 class="text-3xl text-black font-semibold mb-4">
    {
      Astro.props.href ? (
        <a href={Astro.props.href}>{Astro.props.title}</a>
      ) : (
        Astro.props.title
      )
    }
  </h2>
  <div class="py-4">
    <slot />
  </div>
</section>
