---
export type Props = {
  title: string;
  href?: string;
};
---

<section class="border-t border-gray-800 pb-12 pt-8">
  <h2 class="mb-4 text-3xl font-semibold text-black">
    {
      Astro.props.href ? (
        <a href={Astro.props.href}>{Astro.props.title}</a>
      ) : (
        Astro.props.title
      )
    }
  </h2>
  <div class="py-4">
    <slot />
  </div>
</section>
