---
interface Props {
  events: { date: string; title: string }[];
}

const { events } = Astro.props;
---

<div class="grid grid-cols-[minmax(4rem,max-content)_2rem_1fr]">
  {
    events.map((event) => (
      <>
        <div class="flex flex-row items-center text-gray-500 font-mono text-sm">
          {event.date}
        </div>
        <div class="relative w-full h-hull">
          <div class="v-sep-mark" />
          <div class="v-sep-line" />
        </div>
        <h3 class="text-gray-900 h-full flex flex-row items-center py-4">
          {event.title}
        </h3>
      </>
    ))
  }
</div>

<style>
  @tailwind components;

  @layer components {
    .v-sep-line {
      @apply absolute w-2 h-2 top-[calc(50%_-0.5rem_/_2)] left-[calc(50%_-_0.5rem_/_2)];
      @apply rounded-full border border-gray-900 bg-white;
    }

    .v-sep-mark {
      @apply w-px h-full bg-gray-700 absolute left-[calc(50%_-_1px_/_2)];
    }
  }
</style>
