---
interface Props {
  events: { date: string; title: string }[];
}

const { events } = Astro.props;
---

<div class="grid grid-cols-[minmax(4rem,max-content)_2rem_1fr]">
  {
    events.map((event) => (
      <>
        <div class="flex flex-row items-center font-mono text-sm text-gray-500">
          {event.date}
        </div>
        <div class="h-hull relative w-full">
          <div class="v-sep-mark" />
          <div class="v-sep-line" />
        </div>
        <h3 class="flex h-full flex-row items-center py-4 text-gray-900">
          {event.title}
        </h3>
      </>
    ))
  }
</div>

<style>
  @tailwind components;

  @layer components {
    .v-sep-line {
      @apply absolute left-[calc(50%_-_0.5rem_/_2)] top-[calc(50%_-0.5rem_/_2)] h-2 w-2;
      @apply rounded-full border border-gray-900 bg-white;
    }

    .v-sep-mark {
      @apply absolute left-[calc(50%_-_1px_/_2)] h-full w-px bg-gray-700;
    }
  }
</style>
