---
import './uchu.css';
import './global.css';

export interface Props {
  title: string;
}

const props = Astro.props;

import { Icon } from 'astro-icon/components';
import SearchButton from '../components/SearchButton.astro';
import SearchDialog from '../components/SearchDialog.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <style is:inline>
      @layer reset, components;
    </style>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet" />
    <title>{props.title}</title>
  </head>
  <body>
    <header>
      <div class="adjust-width header-inner">
        <span>
          <a href="/" class="back-to-top">namachan10777.dev</a>
        </span>
        <SearchButton />
        <SearchDialog />
      </div>
    </header>
    <main class="adjust-width">
      <slot />
    </main>
    <footer>
      <div class="adjust-width footer-inner">
        <span>@namachan10777</span>
        <span class="icons">
          <a href="https://github.com/namachan10777"
            ><Icon class="nav-icon-link" name="iconoir:github" /></a
          >
          <a href="https://x.com/namachan10777"><Icon class="nav-icon-link" name="iconoir:x" /></a>
          <a href="https://www.linkedin.com/in/masaki-nakano-667493163/"
            ><Icon class="nav-icon-link" name="iconoir:linkedin" /></a
          >
        </span>
      </div>
    </footer>
  </body>
</html>

<style>
  :root {
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, 'Roboto Mono', monospace;
    --font-normal:
      system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  @layer components {
    body {
      background-color: var(--uchu-gray-1);
      color: var(--uchu-yin-9);
      font-family: var(--font-normal);
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
      margin: 0;
    }

    .adjust-width {
      width: 100%;
      max-width: 52rem;
      padding-inline: 2rem;
      margin-inline: auto;
    }

    .back-to-top {
      font-family: var(--font-mono);
    }

    code {
      font-family: var(--font-mono);
    }

    header {
      border-bottom: var(--uchu-yin-9) 1px solid;
    }

    .header-inner {
      display: grid;
      grid-template-columns: 1fr auto;
      padding-block: 0.3rem;
    }

    .icons {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    .nav-icon-link {
      font-size: x-large;
    }

    :global(a) {
      color: var(--uchu-blue-6);
    }

    .footer-inner {
      display: grid;
      grid-template-columns: 1fr auto;
      padding-block-start: 0.5rem;
      margin-block-start: 0.5rem;
    }

    footer {
      border-top: var(--uchu-yin-9) 1px solid;
      padding-block-end: 3rem;
    }
  }
</style>
