---
import Header from "./components/header.astro";
import SiteNav from "./components/site-nav.astro";
import "./destyle.css";
import "./globals.css";

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
---

<html lang="ja" data-theme="default">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description} />
    <title>{title}</title>
  </head>
  <body>
    <Header title={title} />
    <SiteNav />
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  const toggleNav = document.getElementById("toggle-nav") as HTMLElement & {
    addToggleEventListener: (
      listener: (ev: { target: HTMLElement; opened: boolean }) => void
    ) => void;
  };
  const siteNav = document.getElementById("site-nav");
  if (toggleNav && siteNav) {
    customElements.whenDefined("hamburger-button").then(() => {
      toggleNav.addToggleEventListener(({ opened }) => {
        if (opened) {
          siteNav.dataset.show = true.toString();
        } else {
          siteNav.dataset.show = false.toString();
        }
      });
    });
  }
</script>

<style>
  body {
    position: relative;
  }

  h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
  }
</style>
