---
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
export type Props = {
  title: string;
};
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Astro.props.title}</title>
  </head>
  <body data-nav-state="close" class="flex flex-col items-center px-6">
    <div class="px4 md:w-3/5">
      <div class="h-12 w-full">
        <Header />
      </div>
      <main class="min-h-[calc(100dvh-7rem)]">
        <slot />
      </main>
      <div class="h-12 w-full">
        <Footer />
      </div>
    </div>
  </body>
</html>
