:root {
  --color-primary: #ff0000;
  --color-text-strong: rgba(0, 0, 20, 1);
  --color-text-normal: rgba(0, 0, 20, 100%);
  --color-text-weak: rgba(0, 0, 20, 40%);
  --color-bg: white;
  --bg-code: rgba(0, 0, 20, 0.1);
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  --mono-family: "Menlo", "Consolas", "Monaco", monospace;
  --sans-serif-family: -apple-system, blinkMacSystemFont, YuGothic-M, YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  font-family: var(--sans-serif-family);
  -webkit-text-size-adjust: 100%;

  color: var(--color-text-normal);
  background-color: var(--color-bg);
  font-weight: lighter;
}

.md-root p {
  line-height: 1.9;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
}

.md-root h2 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-2xl);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.md-root h3 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.md-root h4 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.md-root h5 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.md-root h6 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.md-root code {
  font-family: var(--mono-family);
  margin-right: 0.3em;
  margin-left: 0.3em;
  background-color: var(--bg-code);
  padding: 0.1em;
}

.md-root ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.md-root li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.md-root pre > code {
  background-color: unset;
  margin: 0;
  padding: 0;
}

.md-root pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.md-root img {
  width: 100%;
  height: auto;
}

.md-root a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
