:root {
  --font-mono: "Consolas", "Courier New", "Courier", "Monaco", ui-monospace,
    monospace;
  --font-sans-serif: -apple-system, "Helvetica Neue", arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
  --font-size-3xl: 1.875rem;
  --font-size-2xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --header-height: 3rem;
  --footer-height: 3rem;

  --light-bg: white;
  --light-bg-code: #eee;
  --light-bg-codeblock: #fff;
  --light-bg-mask: rgb(200 200 200 / 50%);
  --light-fg-link: #1c33b6;
  --light-fg-weak: rgb(0 0 0 / 65%);
  --light-fg-hr: rgb(0 0 0 / 30%);
  --light-fg-normal: rgb(0 0 0 / 85%);
  --light-fg-strong: rgb(0 0 0 / 100%);
  --light-fg-linenum: rgb(0 0 0 / 40%);
  --light-fg-thumb: #bbb;
  --light-fg-track: #ddd;
  --light-bg-mark: rgb(255, 238, 84);

  --dark-bg: #202020;
  --dark-bg-code: #303030;
  --dark-bg-codeblock: #303030;
  --dark-bg-mask: rgb(55 55 55 / 50%);
  --dark-fg-link: #9aa6e2;
  --dark-fg-weak: rgb(255 255 255 / 65%);
  --dark-fg-hr: rgb(255 255 255 / 30%);
  --dark-fg-normal: rgb(255 255 255 / 85%);
  --dark-fg-strong: rgb(255 255 255 / 100%);
  --dark-fg-linenum: rgb(255 255 255 / 40%);
  --dark-fg-thumb: #555;
  --dark-fg-track: #333;
  --dark-bg-mark: rgb(121, 109, 7);
}

body {
  background-color: var(--bg);
  color: var(--fg-normal);
  transition:
    color 0.2s,
    background-color 0.2s;
}

:root:has(#theme-switcher[data-theme="light"]) {
  --bg: var(--light-bg);
  --bg-code: var(--light-bg-code);
  --bg-codeblock: var(--light-bg-codeblock);
  --bg-mask: var(--light-bg-mask);
  --fg-link: var(--light-fg-link);
  --fg-weak: var(--light-fg-weak);
  --fg-hr: var(--light-fg-hr);
  --fg-normal: var(--light-fg-normal);
  --fg-strong: var(--light-fg-strong);
  --fg-linenum: var(--light-fg-linenum);
  --fg-thumb: var(--light-fg-thumb);
  --fg-track: var(--light-fg-track);
  --bg-mark: var(--light-bg-mark);
}

:root:has(#theme-switcher[data-theme="dark"]) {
  --bg: var(--dark-bg);
  --bg-code: var(--dark-bg-code);
  --bg-codeblock: var(--dark-bg-codeblock);
  --bg-mask: var(--dark-bg-mask);
  --fg-link: var(--dark-fg-link);
  --fg-weak: var(--dark-fg-weak);
  --fg-hr: var(--dark-fg-hr);
  --fg-normal: var(--dark-fg-normal);
  --fg-strong: var(--dark-fg-strong);
  --fg-linenum: var(--dark-fg-linenum);
  --fg-thumb: var(--dark-fg-thumb);
  --fg-track: var(--dark-fg-track);
  --bg-mark: var(--dark-bg-mark);
}
