:root {
  --color-primary: #567fc5;
  --color-text-strong: rgba(0, 0, 20, 1);
  --color-text-normal: rgba(0, 0, 20, 80%);
  --color-text-weak: rgba(0, 0, 20, 55%);
  --color-bg: white;
  --bg-code: rgba(0, 0, 20, 0.1);
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  --mono-family: "Menlo", "Consolas", "Monaco", monospace;
  --sans-serif-family: -apple-system, blinkMacSystemFont, YuGothic-M, YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  font-family: var(--sans-serif-family);
  -webkit-text-size-adjust: 100%;
  color: var(--color-text-normal);
  background-color: var(--color-bg);
}
