:root {
  --font-mono: ui-monospace, monospace, sans-serif;
  --font-sans-serif: -apple-system, "Helvetica Neue", arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
  --bg-code: #eee;
  --bg-codeblock: #fff;
  --bg-mask: rgb(255 255 255 / 50%);
  --fg-link: #1c33b6;
  --fg-weak: rgb(0 0 0 / 70%);
  --fg-hr: rgb(0 0 0 / 30%);
  --fg-normal: rgb(0 0 0.9);
  --fg-strong: rgb(0 0 0 / 100%);
  --fg-linenum: rgb(0 0 0 / 40%);
  --font-size-3xl: 1.875rem;
  --font-size-2xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --header-height: 3rem;
  --footer-height: 3rem;
}
