:root[data-theme="default"] {
  --color-text-strong: rgba(39, 37, 37, 0.9);
  --color-text-normal: rgba(39, 37, 37, 70%);
  --color-text-weak: rgba(39, 37, 37, 40%);
  --color-bg: #f3e5de;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="default"] {
    --color-text-strong: rgba(234, 247, 246, 90%);
    --color-text-normal: rgba(234, 247, 246, 70%);
    --color-text-weak: rgba(234, 247, 246, 40%);
    --color-bg: #292726;
  }
}

:root[data-theme="dark"] {
  --color-text-strong: rgba(234, 247, 246, 90%);
  --color-text-normal: rgba(234, 247, 246, 70%);
  --color-text-weak: rgba(234, 247, 246, 40%);
  --color-bg: #292726;
}

:root[data-theme="light"] {
  --color-text-strong: rgba(39, 37, 37, 0.9);
  --color-text-normal: rgba(39, 37, 37, 70%);
  --color-text-weak: rgba(39, 37, 37, 40%);
  --color-bg: #f3e5de;
}

:root {
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
}

body {
  font-family: -apple-system, blinkMacSystemFont, YuGothic-M, YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;

  color: var(--color-text-normal);
  background-color: var(--color-bg);
}
