.md-root p {
  line-height: 1.9;
  padding-block: 0.5rem;
}

.md-root h2 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-2xl);
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

.md-root h3 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
}

.md-root h4 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
}

.md-root h5 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
}

.md-root h6 {
  color: var(--color-text-strong);
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
}

.md-root code {
  font-family: var(--mono-family);
  margin-inline: 0.3em;
  background-color: var(--bg-code);
  padding: 0.1em;
}

.md-root ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.md-root li {
  margin-block: 0.5rem;
}

.md-root img {
  width: 100%;
  height: auto;
}

.md-root a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--color-link);
}

.md-root sup {
  font-weight: bold;
  color: var(--color-link);
  margin: 0.3rem;
}
