.list {
  display: grid;
  padding-inline-start: 0;
}

.list > li {
  display: grid;
  border-top: var(--color-text-muted) 1px dashed;
  padding-block: 0.5rem;
}

.list time {
  font-size: smaller;
  color: var(--color-text-muted);
}

.list h3 {
  margin-block: 0.5rem;
}

.list p {
  margin-block: 0.5rem 0;
}
