body {
    color: #1A202C;
    -webkit-font-smoothing: antialiased;
}

.codebox {
    padding: 0.3em 0.6em;
    background-color: rgba(255,255,255,255);
}

.inline-code {
    background-color: rgba(230,230,255,255);
    padding: 0.15em;
    border-radius: 0.15em;
    font-sizd: 1rem;
    font-family: monospace;
}

.heading::before {
    content: "#";
    margin-right: 0.2em;
}

.invisible-code-repo {
    display: none;
}

.paragraph {
    line-height: 1.9em;
}

.block-code {
    font-size: 1.3em;
    position: relative;
}

.block-code > button:hover {
    position: absolute;
    right: 0;
    margin: 0.4rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.1rem;
    border: none;
    color: #E0E0E0;
    transition: all 0.2s cubic;
}

.block-code > button {
    position: absolute;
    right: 0;
    margin: 0.4rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.1rem;
    border: none;
    color: #E0E0E0;
    transition: all 0.2s ease;
}

.block-code > pre {
    padding: 0.7em 0.7em 0.7em 1.5em;
    border-left: solid 0.3em;
    border-color: rgba(255, 100, 100, 255);
    color: rgba(208, 200, 198, 255);
    background-color: rgba(59, 50, 40, 255);
    margin: 0;
}

.block-code > pre > code {
    counter-reset: line-number;
}

.block-code > pre > code > span.line {
    counter-increment: line-number;
    display: list-item;
    padding-left: 0.8em;
}

.block-code > pre > code > span.line::marker {
    content: counter(line-number);
    color: rgba(200, 255, 200, 255);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root {
    width: 80%;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    display: inline-block;
    padding: 5px;
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 1.3;
    background: #fff;
    border-radius: 3px;
    transition: 0.3s ease-in;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}
