.codebox {
    padding: 0.3em 0.6em;
    background-color: rgba(255,255,255,255);
}

.inline-code {
    background-color: rgba(230,230,255,255);
    padding: 0.15em;
    border-radius: 0.15em;
    font-sizd: 1rem;
    font-family: monospace;
}

.heading::before {
    content: "#";
    margin-right: 0.1em;
}
